.transactionHistory {
  width: 750px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-spacing: 0;
  margin: 0 auto;
}

.head {
  padding: 20px;
  background-color: rgb(48, 48, 48);
  border-color: rgb(48, 48, 48);
  height: 50px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cell {
  width: 250px;
}

.cell:not(:last-child) {
  border-right: 1px solid rgba(221, 221, 221, 0.87);
}

.row {
  height: 60px;
  text-align: center;
  color: rgb(48, 48, 48);
  font-size: 18px;
  font-weight: 500;
}

.row:nth-child(2n + 0) {
  background-color: rgb(185, 185, 185);
}

.type {
  text-transform: capitalize;
}

.type,
.amount {
  border-right: 2px solid rgb(221, 221, 221);
}
